* {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

a {
    text-decoration: none;
    color: #FFFFFF;
}

p {
    margin: 0;
    padding: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

figure {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    font-family: 'Inter';
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;
    background: #000000;/*#2c2c2c;*/
}

.container {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
}

.row {
    display: flex;
}

.column {
    display: flex;
    flex-direction: column;
}

.flex-direction-column {
    flex-direction: column;
}

.space-between {
    justify-content: space-between;
}

.h1-like-title {
    font-family: 'Audiowide';
    font-weight: 400;
    font-size: 79px;
    line-height: 88px;

    text-transform: uppercase;
}

.h2-like-title {
    font-family: 'Audiowide';
    font-weight: 400;
    font-size: 51px;
    line-height: 61px;

    text-transform: uppercase;
}

.h3-like-title {
    font-family: 'Audiowide';
    font-weight: 400;
    font-size: 38px;
    line-height: 45px;

    text-transform: uppercase;
}

.text-align-center {
    text-align: center;
}

.gray {
    color: #A8A8A8;
}

.green {
    color: #8DFD1B;
}

.font-size-11 {
    font-size: 11px;
}

.font-size-12 {
    font-size: 12px;
}

.font-size-13 {
    font-size: 13px;
}

.font-size-15 {
    font-size: 15px;
}

.font-size-16 {
    font-size: 16px;
}

/* header */

.header {
    margin: 0;
    margin-top: 48px;
}

.nav {
    margin: 0px 140px ;
}

.nav-menu {

    margin-left: 40px;
    margin-top: 1%;
}

.nav-menu ul {
    display: flex;
    margin: 0;
    padding: 0;
    font-family: 'DM Mono';
    color: #FFFFFF;
}

.nav-menu li + li {
    margin-left: 40px;
}

.nav-menu a {
    transition: color 0.2s ease-in;
}

.nav-menu a:hover {
    color: #8DFD1B;
}

.media ul {
    display: flex;
    margin: 0;
    padding: 0;
}

.media li + li {  
    padding-left: 12px;
}

/* intro */


.intro-txt {
    margin-top: 128px;
    margin-left: 72px;
}

.intro-article {
    width: 70%;

    margin-top: 43px;
    margin-bottom: 115px;

    line-height: 26px;
}

.intro-img {

    width: 65%;
    height: 20%;
}

.intro-learn-more-btn {

    width: 70%;
    
    margin-top: 100px;

    padding-top: 10px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 20px;
   
    border: 1px solid #8DFD1B;
    background: #8DFD1B;

    font-family: 'DM Mono';
    color: #000000;

    transition: background-color 0.2s ease-in;
}

.intro-learn-more-btn:hover {
    background: #77d816;
}

.intro-learn-more-btn:active {
    transform: scale(0.9);
}


/* main */

/* about */

.about {
    margin: 0;
    margin-top: 121px;
}

.about-leftside {
    width: 30%;
    margin-left: 40px;
}

.about-heading {
    margin-left: 106px;
    width: 70%;
}

.about-img {
    margin-top: 41px;
    margin-left: 40px;
}

.about-info {
    width: 40%;
    margin: 0;
    padding: 0;
    
    margin-left: 161px;
}

.about-info-main {
    margin-bottom: 9px;

    padding-left: 22px;

    border-left: 2px solid #8DFD1B;

    font-family: 'DM Mono';
    font-size: 21px;
    color: #8DFD1B;
}

.about-info-additional {
    width: 95%;
    margin-top: 18px;
}

.about-info-opensea-btn {
    width: 42%;

    margin-top: 36px;

    padding-left: 33px;
    padding-top: 10px;
    padding-right: 33px;
    padding-bottom: 16px;

    border: 1px solid #8DFD1B;
    border-radius: 0px;

    transition: background-color 0.2s ease-in;
}

.about-info-opensea-btn:hover {
    background-color: #151515;
    
}

.about-info-opensea-btn:active {
    transform: scale(0.95);
}

/* artists */

.artists {
    margin-top: 113px;
}

.repeating-artists-heading {

    margin-left: -13.4%;
    
    width: calc(-(margin-left) + 100vw);
    white-space: nowrap;

    word-spacing: 372px;

    overflow: hidden;
}

.repeating-artists-heading:before {
    --a: "artists";
    --b: var(--a) " " var(--a);
    --c: var(--b) " " var(--b);
    --d: var(--c) " " var(--c);
    --e: var(--d) " " var(--d);
    
    content: var(--e);
}

.artists-gallery {
    margin-top: 127px;
    margin-left: 40px;
    margin-right: 240px;

    display: grid;
    grid-template-columns: repeat(4, 2fr);
    gap: 60px;

}

.artists-gallery-img {
    max-width: 220px;
    width: 100%;
    height: auto;
}

.artists-gallery figure {

    margin-bottom: 80px;
}

.artist-gallery-figcaption {
    padding-top: 20px;

    font-family: 'DM Mono';
    font-size: 16px;
    line-height: 24px;

    text-align: center;
}

.artistis-bg {

    width: 100%;
    height: auto;

    margin-top: 74px;
}

/* roadmap */

.roadmap {
    margin-top: 170px;
}

.roadmap-phases {
    margin-top: 106px;

    align-items: center;
}

.roadmap-phase-box {
    width: 40%;

    z-index: 2;

    background: #222222;
    border: 1px solid #8DFD1B;
    border-radius: 0px;
}

.roadmap-phase-box-last {
    margin-bottom: 142px;
}

.roadmap-phase-box-heading {
    border-bottom: 1px solid #8DFD1B;
}

.roadmap-phase-number {
    width: 10%;
    height: auto;

    margin: 13px;
    padding: 12px 0px;

    background: #8DFD1B;
    border: 1px solid #8DFD1B;

    font-family: 'DM Mono';
    font-size: 28px;
    line-height: 28px;

    text-align: center;
    vertical-align: baseline;

    color: #000000;
}

.phase-2-style {
    background: none;
    color: #8DFD1B;
}

.roadmap-phase-completion {
    margin-top: 16px;
    
    font-family: 'DM Mono';
    font-size: 8px;
    line-height: 12px;

    letter-spacing: 1px;
    text-transform: uppercase;

    color: #8DFD1B;
}

.roadmap-phase-date {
    font-family: 'DM Mono';
    font-style: normal;
    font-weight: 400;
    line-height: 28px;

    text-transform: uppercase;
}

.roadmap-phase-box-main {
    padding-top: 25px;
    padding-bottom: 30px;
}

.roadmap-phase-box-main ul {
    padding-left: 35px;
    width: 70%;
}

.roadmap-phase-box-main p + p {
    padding-top: 14px;
}

.roadmap-phase-box-main-li {
    font-size: 11px;
    line-height: 32px;
}

.roadmap-phase-box-main-txt {
    width: 70%;

    margin-top: 12px;
    margin-left: 13px;

    line-height: 26px;
}

.roadmap-phase-box-main-sideimg {
    width: 25%;
    height: 25%;
    
    margin-right: 13px;

    border-radius: 11px;
}

.decorative-line {

    width: 1px;
    height: 40px;
    left: calc(50% - 1px/2 + 0.5px);

    margin-top: 45px;
    margin-bottom: 55px;

    background: #8DFD1B;
    border-radius: 0px;
}

.decorative-circle-1 {
    position: absolute;

    margin-left: 38px;
    margin-top: -260px;
}

.decorative-circle-2 {
    position: absolute;

    margin-left: 26.5%;
    margin-top: 9%;
}

/* discord */

.discord {
    display: none;
}

/* footer */

.footer {
    width: 100%;
    height: 50%;

    padding-left: 140px;
    padding-right: 140px;
    padding-top: 100px;
    padding-bottom: 120px;

    background-color: #42006A;
}

.rights {

    position: absolute;
    
    margin-top: 94px;

    font-family: 'DM Mono';
    font-size: 13px;
    line-height: 20px;
}

.nav-list {

    margin-left: 100px;

    font-family: 'DM Mono';
    font-size: 16px;
    line-height: 19px;
}

.nav-list li + li {
    padding-top: 29px;
}

.nav-list a {
    transition: color 0.2s ease-in;
}

.nav-list a:hover {
    color: #8DFD1B;
}


/* media */

/* mobile*/
@media (max-width: 478px) {

    .container {
        max-width: 478px;
    }

    /* header*/
    .header {
        margin-top: 45px;
    }

    .nav .media {
        display: none;
    }

    .nav {
        margin: 0;
    }

    .nav .row {
        flex-direction: column;
        align-items: center;
    }

    nav div.row {
        display: inline;
    }

    nav.nav.row {
        display: inline;
    }

    .logo {
        display: flex;
        justify-content: center;

        align-self: center;
        margin-bottom: 40px;
    }

    nav div.nav-menu ul {
        justify-content: space-between;
        margin-right: 40px;
    }

    .nav-menu li + li {
        margin-left: 35px;
    }

    /* intro */

    .intro-txt {
        margin: 0;
        margin-left: 42px;
        margin-top: 20px;
    }

    .intro-txt .h2-like-title {
        font-size: 32px;
    }

    .intro-article {
        width: 85%;

        margin: 0;
        margin-top: 10px;
        margin-bottom: 33px;
    }

    .intro-learn-more-btn {


        margin-left: 243px;

        padding-left: 20px;
        padding-right: 20px;


    }

    .intro-img {
        width: 100vw;
        height: auto;
    }

    .intro div.container.row {
        flex-direction: column-reverse
    }

    /* main */

    /* about */

    .about {
        margin-top: 86px;
    }

    .about div.about-info.column p{
        display: none;
    }
    .about div.about-info.column{
        justify-content: center;
    }

    .about-info {
        width: 100%;
        margin: 0;
        padding: 0;
        
    }
    
    .about div.container.row {
        display: inline;
    }

    .about-leftside {
        width: 90%;
        margin: 0;
    }

    .about-heading {
        width: 100%;
        margin-left: 47px;
    }

    .about-heading h2.h3-like-title {
        text-align: left;
    }
    .about-heading h3.h3-like-title.gray {
        width: 70%;

        margin-right: 45px;
        margin-top: 25px;

        float: right;

        text-align: right;
    }

    .about-img {
        margin: 0;
        margin-top: 51px;

        width: 100vw;
        height: auto;
    }

    .about-info-opensea-btn {
        width: 49%;

        margin-top: 45px;
        margin-left: 130px;
        margin-right: 125px;
    }

    /* artists */

    .artists-gallery {
        display: none;
    }
    .artistis-bg  {
        display: none;
    }

    .artists {
        margin-top: 68px;
    }

    .artists .h1-like-title {
        font-size: 14px;
    }
    
    .repeating-artists-heading {

        margin-left: -3.5%;
        word-spacing: 23px;
    }
    


    /* roadmap */

    .roadmap {
        display: none;
    }

    /* discord */

    .discord {
        display: block;
    }

    .discord-heading {
        margin-left: 30px;
        margin-right: 50px;
    }

    .discord-txt {

        width: 76%;

        margin-left: 35px;
        margin-bottom: 35px;
    }

    .discord-join-btn {

        margin-left: 35px;

        padding: 12px 70px 10px 15px;
        
        border: 1px solid #8DFD1B;
        background-color: #8DFD1B;

        font-family: 'DM Mono';
        line-height: 16px;

        color: #000000;
        
    }

    .discord-join-btn img {
        position: relative;
        top: 10px;
    }

    /* footer */

    .nav-list ul li a.font-size-13 {
        display: none;
    }
    
    .footer {

        height: 36vh;

        margin-top: 60px;

        padding-left: 43px;
        padding-right: 15px;
        padding-top: 64px;
        padding-bottom: 22px;
    }

    .footer .logo {

        margin-right: 40px;

        float: left;
    }

    .nav-list {
        margin-left: 0px;
    }

    .footer .container.row.space-between {
        display: inline;
    }

    .footer .column.space-between {
        display: inline;
    }

    .rights {

        position: static;
        margin-top: 100px;
        margin-bottom: -25px;
    }

    .footer .media {
        float: right;
    }

    
}

@media (max-width: 1439px) {
    .decorative-circle-1 {
        display: none;
    }
    .decorative-circle-2 {
        display: none;
    }
}

@media (min-width: 1025px) and (max-width: 1280px) {

    .container {
        max-width: 1280px;
    }

    .nav-list ul li a.font-size-13 {
        display: none;
    }

    .footer {
    
        padding-left: 100px;
        padding-right: 100px;
        padding-top: 80px;
        padding-bottom: 100px;
    
        background-color: #42006A;
    }
   
    .nav-list {
        margin-left: 40px;
    }

    .rights {
        margin-top: 50px;
    }


}

@media (min-width: 479px) and (max-width: 1024px) {

    .container {
        max-width: 1024px;
    }

    .nav .media {
        display: none;
    }

    .intro-txt {
        margin: 0;
        margin-left: 42px;
        margin-top: 20px;
    }

    .intro-article {
        width: 50%;

        margin: 0;
        margin-top: 10px;
        margin-bottom: 33px;
    }

    .intro-img {
        width: 100vw;
        height: auto;
    }

    .intro div.container.row {
        flex-direction: column-reverse
    }



    .about-leftside {
        width: 40%;
        margin-left: 0px;
    }

    .about-info {
        margin-left: 50px;
    }

    .repeating-artists-heading {
        margin-left: -20%;
        word-spacing: 150px;
    }
    
    .artists-gallery{
        grid-template-columns: repeat(3, 2fr);
    }

    .roadmap-phase-box {
        width: 60%;
    }

    .decorative-circle-1 {
        display: none;
    }
    .decorative-circle-2 {
        display: none;
    }

    

    .nav-list ul li a.font-size-13 {
        display: none;
    }

    .footer .container.row.space-between {
        display: inline;
    }

    .footer .column.space-between {
        display: inline;
    }

    .footer .logo {

        margin-right: 40px;

        float: left;
    }

    .rights {

        position: static;
        margin-top: 100px;
        margin-bottom: -25px;
    }

    .footer .media {
        float: right;
    }
}
    
