* {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

a {
    text-decoration: none;
    color: #FFFFFF;
}

p {
    margin: 0;
    padding: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

figure {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    font-family: 'Inter';
    line-height: 26px;
    color: #FFFFFF;
    background: #000000;/*#2c2c2c;*/
}

.container {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
}

.row {
    display: flex;
}

.column {
    display: flex;
    flex-direction: column;
}

.flex-direction-column {
    flex-direction: column;
}

.space-between {
    justify-content: space-between;
}

.h1-like-title {
    font-family: 'Audiowide';
    font-weight: 400;
    font-size: 79px;
    line-height: 88px;

    text-transform: uppercase;
}

.h2-like-title {
    font-family: 'Audiowide';
    font-weight: 400;
    font-size: 51px;
    line-height: 61px;

    text-transform: uppercase;
}

.h3-like-title {
    font-family: 'Audiowide';
    font-weight: 400;
    font-size: 38px;
    line-height: 45px;

    text-transform: uppercase;
}

.text-align-center {
    text-align: center;
}

.gray {
    color: #A8A8A8;
}

.font-size-11 {
    font-size: 11px;
}

.font-size-12 {
    font-size: 12px;
}

.font-size-13 {
    font-size: 13px;
}

.font-size-15 {
    font-size: 15px;
}

.font-size-16 {
    font-size: 16px;
}

/* header */

.header {
    margin: 0;
    margin-top: 48px;
}

.nav {
    margin: 0px 140px ;
}

.nav-menu {
    margin-left: 40px;
    margin-top: 1%;
}

.nav-menu ul {
    display: flex;
    margin: 0;
    padding: 0;
    font-family: 'DM Mono';
    color: #FFFFFF;
}

.nav-menu li + li {
    margin-left: 40px;
}

.nav-menu a {
    transition: color 0.2s ease-in;
}

.nav-menu a:hover {
    color: #8DFD1B;
}

.media ul {
    display: flex;
    margin: 0;
    padding: 0;
}

.media li + li {  
    padding-left: 12px;
}

/* intro */

.intro {

}

.intro-txt {
    margin-top: 128px;
    padding-left: 72px;
}

.intro-article {
    margin: 0;
    margin-top: 43px;

    width: 70%;

    font-size: 16px;
    line-height: 26px;
}

.intro-img {
    width: 65%;
    height: 20%;
}

.intro-learn-more-btn {
    margin-top: 115px;
    
    padding-top: 17px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 27px;

    height: 60px;
    width: 205px;

    text-align: center;
    font-family: 'DM Mono';
    font-size: 16px;
    background: #8DFD1B;
    border-radius: 0px; 
}

/* main */

/* about */

.about {
    margin: 0;
    margin-top: 121px ;
}

.about-leftside {
    width: 30%;
    margin-left: 40px;
}

.about-heading {
    margin-left: 106px;
    width: 70%;
}

.about-img {
    margin-top: 41px;
    margin-left: 40px;
}

.about-info {
    width: 40%;
    margin: 0;
    padding: 0;
    
    margin-left: 161px;
}

.about-info-main {
    margin-bottom: 9px;

    padding-left: 22px;

    border-left: 2px solid #8DFD1B;

    font-family: 'DM Mono';
    font-size: 21px;
    color: #8DFD1B;
}

.about-info-additional {
    width: 95%;
    margin-top: 18px;
}

.about-info-opensea-btn {
    width: 42%;

    margin-top: 36px;

    padding-left: 33px;
    padding-top: 10px;
    padding-right: 33px;
    padding-bottom: 16px;

    border: 1px solid #8DFD1B;
    border-radius: 0px;
}

/* artists */

.artists {
    margin-top: 113px;
}

.repeating-artists-heading {
    margin-left: -191px;

    width: calc(margin-left + 100vw);
    white-space: nowrap;

    word-spacing: 372px;

    overflow: hidden;
}

.repeating-artists-heading:before {
    --a: "artists";
    --b: var(--a) " " var(--a) " " var(--a);
    
    content: var(--b);
}

.artists-gallery {
    margin-top: 127px;
    margin-left: 40px;
    margin-right: 240px;

    display: grid;
    grid-template-columns: repeat(4, 1fr);

}

.artists-gallery-img {
    max-width: 245px;
    width: 100vw;
    height: auto;
}

.artists-gallery figure {
    margin-right: 60px;
    margin-bottom: 80px;
}

.artist-gallery-figcaption {
    padding-top: 20px;

    font-family: 'DM Mono';
    font-size: 16px;
    line-height: 24px;

    text-align: center;
}

.artistis-bg {

    width: 100%;
    height: auto;

    margin-top: 74px;
}

/* roadmap */

.roadmap {
    margin-top: 170px;
}

.roadmap-phases {
    margin-top: 106px;

    align-items: center;
}

.roadmap-phase-box {
    width: 40%;

    z-index: 2;

    background: #222222;
    border: 1px solid #8DFD1B;
    border-radius: 0px;
}

.roadmap-phase-box-last {
    margin-bottom: 142px;
}

.roadmap-phase-box-heading {
    border-bottom: 1px solid #8DFD1B;
}

.roadmap-phase-number {
    width: 10%;
    height: auto;

    margin: 13px;
    padding: 12px 0px;

    background: #8DFD1B;
    border: 1px solid #8DFD1B;

    font-family: 'DM Mono';
    font-size: 28px;
    line-height: 28px;

    text-align: center;
    vertical-align: baseline;

    color: #000000;
}

.phase-2-style {
    background: none;
    color: #8DFD1B;
}

.roadmap-phase-completion {
    margin-top: 16px;
    
    font-family: 'DM Mono';
    font-size: 8px;
    line-height: 12px;

    letter-spacing: 1px;
    text-transform: uppercase;

    color: #8DFD1B;
}

.roadmap-phase-date {
    font-family: 'DM Mono';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;

    text-transform: uppercase;
}

.roadmap-phase-box-main {
    padding-top: 25px;
    padding-bottom: 30px;
}

.roadmap-phase-box-main ul {
    padding-left: 35px;
    width: 70%;
}

.roadmap-phase-box-main p + p {
    padding-top: 14px;
}

.roadmap-phase-box-main-li {
    font-size: 11px;
    line-height: 32px;
}

.roadmap-phase-box-main-txt {
    width: 70%;

    margin-top: 12px;
    margin-left: 13px;

    line-height: 26px;
}

.roadmap-phase-box-main-sideimg {
    width: 25%;
    height: 25%;
    
    margin-right: 13px;

    border-radius: 11px;
}

.decorative-line {

    width: 1px;
    height: 40px;
    left: calc(50% - 1px/2 + 0.5px);

    margin-top: 45px;
    margin-bottom: 55px;

    background: #8DFD1B;
    border-radius: 0px;
}

.decorative-circle-1 {
    position: absolute;

    margin-left: 38px;
    margin-top: -260px;
}

.decorative-circle-2 {
    position: absolute;

    margin-left: 26.5%;
    margin-top: 9%;
}

/* footer */

.footer {
    width: 100%;
    height: 50vh;

    padding-left: 140px;
    padding-right: 140px;
    padding-top: 100px;
    padding-bottom: 120px;

    background-color: #42006A;
}

.rights {

    margin-top: 70px;

    font-family: 'DM Mono';
    font-size: 13px;
    line-height: 20px;
}

.nav-list {

    font-family: 'DM Mono';
    font-size: 16px;
    line-height: 19px;
}

.nav-list li + li {
    padding-top: 29px;
}